.sidebar {  
        position: fixed;
        left: 0;
        width: 95px;
        top: 65px;
        bottom: 0;
        background-color: white;
        z-index: 1;
         
}

.top {
    padding-top: 5px;
}

.sidebar-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.sidebar-link:hover {
    background-color: rgb(180, 178, 178);
}

.home {
    height: 30px;
    width: 30px;
}
div {
    font-size: 12px;
   
}